<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>nroonga</title>
  <link href="/stylesheets/screen.css" media="screen" rel="stylesheet" type="text/css" />
</head>

<body>
  <a href="http://github.com/nroonga/nroonga"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub" /></a>
  <div id="container">
    <h1>
      <a href="/">
        <img src="images/nroonga-logo.png" alt="nroonga" width="440" height="130" />
      </a>
    </h1>

    <div class="description">
      A library for building groonga powered nodes
    </div>

    {{ content }}

    <div class="footer">
      get the source code on GitHub : <a href="http://github.com/nroonga/nroonga">nroonga/nroonga</a>
    </div>

  </div>
</body>
</html>
